*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.title h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
    color: #816681;
}
.title span{
    color: #ae82db;
}
.list_menu a{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(86,36,20,0.73);
    border-left: 2px solid #ae82db;
    padding-left: 5px;
    transition: all 0.3s ease;
}
.list_menu a:hover{
    border-left: 2px solid #ae82db;
    padding-left: 10px;
    transition: all 0.2s ease;
}
.footer_menu p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(86,36,20,0.73);
}
.list_menu{
    margin-bottom: 50px;
}
.list_menu li{
    margin: 25px 0;
}
.menu{
    padding: 25vh 50px;
    position: fixed;
    background: rgba(20, 20, 20, 0.5);
    height: 100vh;
    backdrop-filter: blur(16px);
    border-right: 10px solid #ae82db;
    left: -347px;
}
.menu:hover{
    left: 0;
    transition: all 0.4s ease;
}
.content{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
